<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#" style="color: red; font-weight: bold"><Span
        style="color: rgb(84, 84, 186); font-weight: bolder; font-size: 40px">W</Span>ords<span
        style="color: rgb(84, 84, 186); font-weight: bolder; font-size: 20px">W</span>orth</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0" style="margin-left: 100px">
  
        <button class="btn btn-outline-primary">Store</button>
        <input class="form-control mr-sm-2" style="width: 320px; margin-left: 30px" type="search" placeholder="Search" />
      </ul>
  
      <ul class="navbar-nav" style="font-size: 20px;">
        <li class="nav-link" (click)="home()">Home</li>
        <li class="nav-link" (click)="orders()">My Orders</li>
        <li class="nav-link" (click)="profile()">Profile</li>
        <li class="nav-link" (click)="logout()"><i class="bi bi-power"></i></li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="main-div">
        <div class="child1">
          <img src="/assets/Images/Book.jpeg" alt="" style="width: 20rem; height: 20rem; border-radius: 10px;">
        </div>
        <div class="child2">
            <div class="card">
                <div class="card-head bg bg-light" style="align-items: center; color: black;">
                   <h3>Place Orders</h3>
                </div>
                <div class="card-body" *ngIf="book">
                        <div class=" row">
                            <h6 class="col">Book Title :</h6>
                            <h6 class="col">{{book.bookName}}</h6>
                        </div>
                        <div class="row">
                            <h6 class="col">Book Author :</h6>
                            <h6 class="col">{{book.authorName}}</h6>
                        </div>
                        <div class=" row">
                            <h6 class="col">Category :</h6>
                            <h6 class="col">{{book.category}}</h6>
                        </div>
                        <div class=" row">
                           <div class="col form-group" >
                            <label for="" class="col"><h6>Quantity</h6></label>
                            <input type="number" class="col form-control" min="1" value="1" placeholder="Quantity" style="width: 100px;"></div>
                            <div class="col form-group">
                                <h6 class="col">Total Price</h6>
                                <h6 class="col">{{book.price}}</h6>
                            </div> 
                        </div>
                        <div class="row"><button class="btn btn-success form-control" (click)="placeOrder()" style="margin-left: 30px; margin-right: 30px; font-weight: bold;"> Place Order</button></div>
                </div>
            </div>
        </div>
    </div>
  </div>